.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 13px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(173, 173, 173, 0.5);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav_notification {
  position: absolute;
  left: 20px;
  bottom: 17px;
}

.nav__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  left: 30px;
}
